*.log

# all data files
/data
/data_gather/cctv_data

# yolov5 files
/screen_recorder/my_utils/yolov5

# models
yolov5s.pt
yolov5m.pt
yolov5l.pt
yolov5x.pt
yolov5x6.pt

# R-CNN files
R-CNN-test/annotated_dataset/*
R-CNN-test/original_data/*
R-CNN-test/proposed_dataset/*